@charset "UTF-8";
/*========= base ===========*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*========= header ===========*/
header {
  background-color: #3F51B5;
  position: fixed;
  width: 100%;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 1086px;
  margin: 0 auto;
}

@media screen and (max-width: 1085px) {
  header .inner {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  header .inner {
    height: 60px;
  }
}

header .inner .logo h1 {
  height: 39px;
}

header .inner .logo img {
  width: 200px;
  height: 39px;
}

@media screen and (max-width: 1085px) {
  header .inner .nav-bar {
    display: none;
  }
}

header .inner .nav-bar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner .nav-bar .nav-items li {
  margin-left: 30px;
}

header .inner .nav-bar .nav-items a {
  color: #FFFFFF;
  font-size: 16px;
}

header .inner .nav-bar .nav-items a:hover {
  border-bottom: solid 2px #E81919;
}

/*========= main visual ===========*/
.mainvisual {
  background-image: url(images/mainvisual.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .mainvisual {
    height: 400px;
  }
}

.mainvisual h1 {
  font-size: 68px;
  padding-top: 240px;
}

@media screen and (max-width: 1085px) {
  .mainvisual h1 {
    font-size: 54.4px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual h1 {
    font-size: 23.8px;
    padding-top: 180px;
  }
}

.mainvisual h2 {
  font-size: 38px;
  margin-bottom: 82px;
}

@media screen and (max-width: 1085px) {
  .mainvisual h2 {
    font-size: 30.4px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual h2 {
    margin-bottom: 28.7px;
    font-size: 13.3px;
  }
}

.mainvisual a {
  background-color: #3F51B5;
  color: #FFFFFF;
  padding: 17px 81px;
  font-size: 38px;
  font-weight: bold;
  border-radius: 12px;
}

@media screen and (max-width: 1085px) {
  .mainvisual a {
    font-size: 30.4px;
    padding: 13.6px 64.8px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual a {
    font-size: 13.3px;
    padding: 5.95px 28.35px;
  }
}

/*========= card ===========*/
.cardSection {
  background-color: #EFEFEF;
  padding: 59px 20px 128px 20px;
}

.cardSection .inner {
  width: 1086px;
  margin: 0 auto;
}

@media screen and (max-width: 1085px) {
  .cardSection .inner {
    width: 100%;
  }
}

.cardSection .inner h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 32px;
}

.cardSection .inner hr {
  width: 80px;
  color: #3F51B5;
  size: 5px;
  margin-bottom: 69px;
}

.cardSection .inner .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardSection .inner .cards .card {
  background-color: #FFFFFF;
  width: calc(33.33333333% - 60px / 3);
  margin: 0 30px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.cardSection .inner .cards .card:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1085px) {
  .cardSection .inner .cards .card {
    width: calc(50% - 30px / 2);
  }
  .cardSection .inner .cards .card:nth-child(3n) {
    margin-right: 30px;
  }
  .cardSection .inner .cards .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .cardSection .inner .cards .card {
    width: 100%;
    margin-right: 0px;
  }
  .cardSection .inner .cards .card:nth-child(3n) {
    margin-right: 0px;
  }
  .cardSection .inner .cards .card:nth-child(2n) {
    margin-right: 0;
  }
}

.cardSection .inner .cards .card img {
  width: 100%;
  height: 193px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 16px 16px 26px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardSection .inner .cards .card h3 {
  font-size: 20px;
  color: #6F7579;
  margin: 0 16px 20px 16px;
}

.cardSection .inner .cards .card p {
  font-size: 16px;
  color: #6F7579;
  margin: 0 16px 28px 16px;
}

/*========= news ===========*/
.news {
  padding: 68px 0 29px 0;
  margin: 0 auto;
  width: 845px;
}

@media screen and (max-width: 1085px) {
  .news {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .news {
    width: 80%;
  }
}

.news h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 34.5px;
}

.news hr {
  margin-bottom: 90.5px;
}

.news .news-contents {
  margin-bottom: 16px;
}

.news .news-contents .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #333333;
  padding: 18.5px 9.5px 16.5px 7.5px;
}

.news .news-contents .news-content:nth-last-child(2) {
  border-bottom: 0;
  margin-bottom: 16px;
}

.news .news-contents .news-content time {
  font-size: 16px;
  color: #333333;
  white-space: nowrap;
  line-height: 30px;
}

@media screen and (max-width: 1085px) {
  .news .news-contents .news-content time {
    font-size: 12.8px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content time {
    font-size: 5.6px;
  }
}

.news .news-contents .news-content .label {
  border-radius: 6px;
  margin: 0 30px;
  text-align: center;
  font-weight: bold;
  height: 30px;
}

@media screen and (max-width: 1085px) {
  .news .news-contents .news-content .label {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .label {
    margin: 0 10.5px;
  }
}

.news .news-contents .news-content .label a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
}

@media screen and (max-width: 1085px) {
  .news .news-contents .news-content .label a {
    width: 80px;
    font-size: 12.8px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .label a {
    width: 50px;
    font-size: 5.6px;
  }
}

.news .news-contents .news-content .label1 {
  background-color: #666;
}

.news .news-contents .news-content .label2 {
  background-color: #3F51B5;
}

.news .news-contents .news-content .label3 {
  background-color: #E81919;
}

.news .news-contents .news-content .news-title {
  width: 576px;
}

@media screen and (max-width: 1085px) {
  .news .news-contents .news-content .news-title {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .news-title {
    width: 80%;
  }
}

.news .news-contents .news-content .news-title a {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
}

@media screen and (max-width: 1085px) {
  .news .news-contents .news-content .news-title a {
    font-size: 12.8px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .news-title a {
    font-size: 5.6px;
  }
}

.news .news-contents .more {
  text-align: center;
}

.news .news-contents .more a {
  color: #E81919;
  font-size: 16px;
  font-weight: bold;
}

.news .news-contents .more a .fas {
  padding-left: 6.5px;
  font-size: 12px;
}

/*========= price ===========*/
.price {
  background-color: #EFEFEF;
  margin: 0 auto;
  padding: 60px 0 102px;
}

.price h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 34.5px;
}

.price hr {
  margin-bottom: 80.5px;
}

.price .price-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1085px) {
  .price .price-items {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

.price .price-items .price-image {
  height: 300px;
  width: 360px;
  margin-right: 122px;
}

@media screen and (max-width: 1085px) {
  .price .price-items .price-image {
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-items .price-image {
    width: 270px;
    height: 288px;
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-items .price-image img {
    width: 270px;
    height: 288px;
  }
}

.price .price-items .price-contents .price-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.price .price-items .price-contents .price-table th {
  width: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0 11px;
  font-size: 16px;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .price .price-items .price-contents .price-table th {
    font-size: 12px;
  }
}

.price .price-items .price-contents .price-table td {
  width: 224px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  color: #333333;
  text-align: right;
  padding: 12px 16px 11px 0;
  font-size: 16px;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .price .price-items .price-contents .price-table td {
    font-size: 12px;
  }
}

.price .price-items .price-contents .price-table .grey {
  background-color: #999999;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding: 12px 0 11px;
}

.price .price-items .price-contents .price-table .half {
  color: #E81919;
}

.price .price-items .price-contents p {
  color: #333333;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .price .price-items .price-contents p {
    font-size: 12px;
  }
}

.price .price-items .price-contents p a {
  color: #333333;
  text-decoration: underline;
}

/*========= Access ===========*/
.access-section {
  padding: 69px 0 88px;
}

.access-section h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 34.5px;
}

.access-section hr {
  margin-bottom: 105px;
}

.access-section .map-content {
  width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1085px) {
  .access-section .map-content {
    width: 90%;
  }
}

.access-section .map-content .map {
  text-align: center;
  margin-bottom: 42px;
  position: relative;
  height: 0;
  padding-bottom: 50%;
  /* 縦横比の指定 */
  overflow: hidden;
}

.access-section .map-content .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.access-section .map-content table {
  text-align: left;
  margin: 0 0 38px 40px;
  color: #333333;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .access-section .map-content table {
    margin: 0 0 38px 10px;
    font-size: 12px;
  }
}

.access-section .map-content table th {
  font-weight: normal;
  padding-right: 54px;
}

.access-section .map-content .map-link {
  margin: 0 auto;
  width: 305px;
  height: 56px;
  text-align: center;
  background-color: #3F51B5;
  border-radius: 12px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .access-section .map-content .map-link {
    width: 244px;
  }
}

.access-section .map-content .map-link a {
  color: #FFFFFF;
  line-height: 56px;
  display: inline-block;
  width: 305px;
  height: 56px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .access-section .map-content .map-link a {
    width: 244px;
  }
}

.access-section .map-content .map-link a i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 275px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .access-section .map-content .map-link a i {
    left: 90%;
  }
}
/*# sourceMappingURL=style.css.map */