@charset "UTF-8";
/*========= base ===========*/
html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  width: 80px;
  border-top: 5px solid #3F51B5;
}

/*========= header ===========*/
header {
  background-color: #3F51B5;
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 1086px;
  margin: 0 auto;
}

@media screen and (max-width: 1104px) {
  header .inner {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  header .inner {
    height: 60px;
  }
}

header .inner .logo h1 {
  height: 39px;
}

header .inner .logo img {
  width: 200px;
  height: 39px;
}

@media screen and (max-width: 1104px) {
  header .inner .nav-bar {
    display: none;
  }
}

header .inner .nav-bar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner .nav-bar .nav-items li {
  margin-left: 30px;
}

header .inner .nav-bar .nav-items a {
  color: #FFFFFF;
  font-size: 16px;
}

header .inner .nav-bar .nav-items a:hover {
  border-bottom: solid 2px #E81919;
}

/*========= main visual ===========*/
.mainvisual {
  background-image: url(images/mainvisual.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .mainvisual {
    height: 400px;
  }
}

.mainvisual h2 {
  font-size: 68px;
  padding-top: 240px;
}

@media screen and (max-width: 1104px) {
  .mainvisual h2 {
    font-size: 54.4px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual h2 {
    font-size: 23.8px;
    padding-top: 180px;
  }
}

.mainvisual h3 {
  font-size: 38px;
  margin-bottom: 82px;
}

@media screen and (max-width: 1104px) {
  .mainvisual h3 {
    font-size: 30.4px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual h3 {
    margin-bottom: 28.7px;
    font-size: 13.3px;
  }
}

.mainvisual a {
  background-color: #3F51B5;
  color: #FFFFFF;
  padding: 17px 81px;
  font-size: 38px;
  font-weight: bold;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mainvisual a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1104px) {
  .mainvisual a {
    font-size: 30.4px;
    padding: 13.6px 64.8px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual a {
    font-size: 13.3px;
    padding: 5.95px 28.35px;
  }
}

/*========= card ===========*/
.cardSection {
  background-color: #EFEFEF;
  padding: 59px 0 128px 0;
}

.cardSection .inner {
  width: 1086px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1104px) {
  .cardSection .inner {
    width: 100%;
  }
}

.cardSection .inner h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 32px;
}

.cardSection .inner hr {
  margin-bottom: 69px;
}

.cardSection .inner .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardSection .inner .cards .card {
  background-color: #FFFFFF;
  width: calc(33.3333333333% - 60px / 3);
  margin: 0 30px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.cardSection .inner .cards .card:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1104px) {
  .cardSection .inner .cards .card {
    width: calc(50% - 30px / 2);
  }
  .cardSection .inner .cards .card:nth-child(3n) {
    margin-right: 30px;
  }
  .cardSection .inner .cards .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .cardSection .inner .cards .card {
    width: 100%;
    margin-right: 0px;
  }
  .cardSection .inner .cards .card:nth-child(3n) {
    margin-right: 0px;
  }
  .cardSection .inner .cards .card:nth-child(2n) {
    margin-right: 0;
  }
}

.cardSection .inner .cards .card img {
  width: 100%;
  height: 193px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 16px 16px 26px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardSection .inner .cards .card h3 {
  font-size: 20px;
  color: #6F7579;
  margin: 0 16px 20px 16px;
}

.cardSection .inner .cards .card p {
  font-size: 16px;
  color: #6F7579;
  margin: 0 16px 28px 16px;
}

/*========= news ===========*/
.news {
  padding: 68px 0 29px 0;
  margin: 0 auto;
  width: 845px;
}

@media screen and (max-width: 1104px) {
  .news {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .news {
    width: 80%;
  }
}

.news h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 34.5px;
}

.news hr {
  margin-bottom: 90.5px;
}

.news .news-contents {
  margin-bottom: 16px;
}

.news .news-contents .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #333333;
  padding: 18.5px 9.5px 16.5px 7.5px;
}

.news .news-contents .news-content:nth-last-child(2) {
  border-bottom: 0;
  margin-bottom: 16px;
}

.news .news-contents .news-content time {
  font-size: 16px;
  color: #333333;
  white-space: nowrap;
  line-height: 30px;
}

@media screen and (max-width: 1104px) {
  .news .news-contents .news-content time {
    font-size: 12.8px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content time {
    font-size: 5.6px;
  }
}

.news .news-contents .news-content .label {
  border-radius: 6px;
  margin: 0 30px;
  text-align: center;
  font-weight: bold;
  height: 30px;
}

@media screen and (max-width: 1104px) {
  .news .news-contents .news-content .label {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .label {
    margin: 0 10.5px;
  }
}

.news .news-contents .news-content .label a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news .news-contents .news-content .label a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1104px) {
  .news .news-contents .news-content .label a {
    width: 80px;
    font-size: 12.8px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .label a {
    width: 50px;
    font-size: 5.6px;
  }
}

.news .news-contents .news-content .label1 {
  background-color: #666;
}

.news .news-contents .news-content .label2 {
  background-color: #3F51B5;
}

.news .news-contents .news-content .label3 {
  background-color: #E81919;
}

.news .news-contents .news-content .news-title {
  width: 576px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1104px) {
  .news .news-contents .news-content .news-title {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .news-title {
    width: 80%;
  }
}

.news .news-contents .news-content .news-title a {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
}

.news .news-contents .news-content .news-title a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1104px) {
  .news .news-contents .news-content .news-title a {
    font-size: 12.8px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-contents .news-content .news-title a {
    font-size: 5.6px;
  }
}

.news .news-contents .more {
  text-align: center;
}

.news .news-contents .more a {
  color: #E81919;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news .news-contents .more a:hover {
  opacity: 0.6;
}

.news .news-contents .more a .fas {
  padding-left: 6.5px;
  font-size: 12px;
}

/*========= price ===========*/
.price {
  background-color: #EFEFEF;
  margin: 0 auto;
  padding: 60px 0 102px;
}

.price h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 34.5px;
}

.price hr {
  margin-bottom: 80.5px;
}

.price .price-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1104px) {
  .price .price-items {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

.price .price-items .price-image {
  height: 300px;
  width: 360px;
  margin-right: 122px;
}

@media screen and (max-width: 1104px) {
  .price .price-items .price-image {
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-items .price-image {
    width: 270px;
    height: 288px;
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-items .price-image img {
    width: 270px;
    height: 288px;
  }
}

.price .price-items .price-contents .price-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.price .price-items .price-contents .price-table th {
  width: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0 11px;
  font-size: 16px;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .price .price-items .price-contents .price-table th {
    font-size: 12px;
  }
}

.price .price-items .price-contents .price-table td {
  width: 224px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  color: #333333;
  text-align: right;
  padding: 12px 16px 11px 0;
  font-size: 16px;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .price .price-items .price-contents .price-table td {
    font-size: 12px;
  }
}

.price .price-items .price-contents .price-table .grey {
  background-color: #999999;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding: 12px 0 11px;
}

.price .price-items .price-contents .price-table .half {
  color: #E81919;
}

.price .price-items .price-contents p {
  color: #333333;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .price .price-items .price-contents p {
    font-size: 12px;
  }
}

.price .price-items .price-contents p a {
  color: #333333;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price .price-items .price-contents p a:hover {
  opacity: 0.6;
}

/*========= Access ===========*/
.access-section {
  padding: 69px 0 88px;
}

.access-section h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 34.5px;
}

.access-section hr {
  margin-bottom: 105px;
}

.access-section .map-content {
  width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1104px) {
  .access-section .map-content {
    width: 90%;
  }
}

.access-section .map-content .map {
  text-align: center;
  margin-bottom: 42px;
  position: relative;
  height: 0;
  padding-bottom: 50%;
  /* 縦横比の指定 */
  overflow: hidden;
}

.access-section .map-content .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access-section .map-content table {
  text-align: left;
  margin: 0 0 38px 40px;
  color: #333333;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .access-section .map-content table {
    margin: 0 0 38px 10px;
    font-size: 12px;
  }
}

.access-section .map-content table th {
  font-weight: normal;
  padding-right: 54px;
}

.access-section .map-content .map-link {
  margin: 0 auto;
  width: 305px;
  height: 56px;
  text-align: center;
  background-color: #3F51B5;
  border-radius: 12px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.access-section .map-content .map-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .access-section .map-content .map-link {
    width: 244px;
  }
}

.access-section .map-content .map-link a {
  color: #FFFFFF;
  line-height: 56px;
  display: inline-block;
  width: 305px;
  height: 56px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.access-section .map-content .map-link a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .access-section .map-content .map-link a {
    width: 244px;
  }
}

.access-section .map-content .map-link a i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 275px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .access-section .map-content .map-link a i {
    left: 90%;
  }
}

/*========= Contact ===========*/
.contact-section {
  background-color: #EFEFEF;
  padding: 68px 0 116px;
}

.contact-section h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 34.5px;
}

.contact-section hr {
  margin-bottom: 50.5px;
}

.contact-section .contact-items {
  background-color: #FFFFFF;
  color: #333333;
  margin: 0 auto;
  width: 800px;
  padding: 57.4px 43px 60px 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items {
    width: 90%;
    padding: 57.4px 20px 60px 20px;
  }
}

.contact-section .contact-items .contact-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-name {
    display: block;
  }
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-name .name-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 15px;
  }
}

.contact-section .contact-items .contact-name .name-header h3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 19px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-name .name-header h3 {
    padding: 0;
    margin-right: 10px;
    line-height: 22px;
  }
}

.contact-section .contact-items .contact-name .name-header p {
  display: inline-block;
  background-color: #E81919;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 12px;
  text-align: center;
  width: 46px;
}

.contact-section .contact-items .contact-name .name-content input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  font-family: inherit;
  font-size: 16px;
  color: #CCCCCC;
  width: 528px;
  height: 60px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .contact-items .contact-name .name-content input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact-section .contact-items .contact-name .name-content input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-name .name-content input:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-name .name-content input::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-name .name-content input::placeholder {
  color: #CCCCCC;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-name .name-content input {
    width: 100%;
  }
}

.contact-section .contact-items .contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-mail {
    display: block;
  }
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-mail .mail-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 15px;
  }
}

.contact-section .contact-items .contact-mail .mail-header h3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 19px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-mail .mail-header h3 {
    padding: 0;
    margin-right: 10px;
    line-height: 22px;
  }
}

.contact-section .contact-items .contact-mail .mail-header p {
  display: inline-block;
  background-color: #E81919;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 12px;
  text-align: center;
  width: 46px;
}

.contact-section .contact-items .contact-mail .mail-content input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  font-family: inherit;
  font-size: 16px;
  color: #CCCCCC;
  width: 528px;
  height: 60px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .contact-items .contact-mail .mail-content input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact-section .contact-items .contact-mail .mail-content input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-mail .mail-content input:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-mail .mail-content input::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-mail .mail-content input::placeholder {
  color: #CCCCCC;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-mail .mail-content input {
    width: 100%;
  }
}

.contact-section .contact-items .contact-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type {
    display: block;
  }
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type .type-header {
    margin-bottom: 15px;
  }
}

.contact-section .contact-items .contact-type .type-header h3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 19px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type .type-header h3 {
    padding: 0;
  }
}

.contact-section .contact-items .contact-type .type-content select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 12px/16px 16px;
  border: 1px solid #707070;
  border-radius: 0;
  color: #CCCCCC;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding-left: 16px;
  width: 528px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .contact-items .contact-type .type-content select::-ms-expand {
  display: none;
}

.contact-section .contact-items .contact-type .type-content select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-type .type-content select {
    width: 100%;
  }
}

.contact-section .contact-items .contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-text {
    display: block;
  }
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-text .text-header {
    margin-bottom: 15px;
  }
}

.contact-section .contact-items .contact-text .text-header h3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 19px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-text .text-header h3 {
    padding: 0;
  }
}

.contact-section .contact-items .contact-text .text-content textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: #CCCCCC;
  font-family: inherit;
  font-size: 16px;
  height: 240px;
  padding: 10px 0 0 16px;
  width: 528px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .contact-items .contact-text .text-content textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact-section .contact-items .contact-text .text-content textarea::-webkit-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-text .text-content textarea:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-text .text-content textarea::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact-section .contact-items .contact-text .text-content textarea::placeholder {
  color: #CCCCCC;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-text .text-content textarea {
    width: 100%;
  }
}

.contact-section .contact-items .contact-radio {
  margin-bottom: 44px;
}

.contact-section .contact-items .contact-radio label:first-child span {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-radio label:first-child span {
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-radio label {
    display: block;
  }
}

.contact-section .contact-items .contact-radio input {
  display: none;
}

.contact-section .contact-items .contact-radio input + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 25px;
  padding: 1px 0 0 40px;
  position: relative;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-radio input + span {
    margin: 0 0 10px 0;
  }
}

.contact-section .contact-items .contact-radio input + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  height: 28px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
}

.contact-section .contact-items .contact-radio input + span::after {
  -webkit-transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 14px;
}

.contact-section .contact-items .contact-radio input:checked + span::after {
  opacity: 1;
}

.contact-section .contact-items .contact-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-check {
    margin-bottom: 36px;
  }
}

.contact-section .contact-items .contact-check input {
  display: none;
}

.contact-section .contact-items .contact-check input + span {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding: 0 0 0 1.2em;
  position: relative;
}

.contact-section .contact-items .contact-check input + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  content: "";
  display: block;
  height: 30px;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  width: 30px;
}

.contact-section .contact-items .contact-check input + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 4.2px solid #3F51B5;
  border-left: 4.2px solid #3F51B5;
  content: "";
  display: block;
  height: 0.6em;
  left: 6px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 1em;
}

.contact-section .contact-items .contact-check input:checked + span::after {
  opacity: 1;
}

.contact-section .contact-items .contact-check .privacy {
  padding-top: 5px;
  margin-left: 16px;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-check .privacy {
    font-size: 12px;
  }
}

.contact-section .contact-items .contact-check .privacy a {
  color: #333333;
  text-decoration: underline;
}

.contact-section .contact-items .contact-check .privacy a:hover {
  opacity: 0.6;
}

.contact-section .contact-items .contact-submit {
  position: relative;
  width: 261px;
  margin: 0 auto;
  text-align: center;
}

.contact-section .contact-items .contact-submit input {
  -webkit-appearance: none;
  background-color: #3F51B5;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  width: 261px;
  height: 56px;
  text-decoration: none;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-section .contact-items .contact-submit input:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-items .contact-submit input {
    width: 210px;
  }
}

.contact-section .contact-items .contact-submit input:hover,
.contact-section .contact-items .contact-submit input:focus {
  outline: none;
}

.contact-section .contact-items .contact-submit input::-moz-focus-inner {
  border: none;
  padding: 0;
}

.contact-section .contact-items .contact-submit i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF;
  left: 235px;
  font-size: 20px;
}

@media screen and (max-width: 1104px) {
  .contact-section .contact-items .contact-submit i {
    left: 205px;
  }
}

/*========= Footer ===========*/
.footer-section {
  padding: 74px 165px 31px 152px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  position: relative;
}

@media screen and (max-width: 1104px) {
  .footer-section {
    padding: 74px 0 31px;
  }
}

.footer-section .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 91px;
}

@media screen and (max-width: 1104px) {
  .footer-section .footer-contents {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1104px) {
  .footer-section .footer-contents .footer-info {
    margin-bottom: 30px;
  }
}

.footer-section .footer-contents .footer-info .footer-logo {
  margin-bottom: 30px;
  height: 39px;
  width: 200px;
}

@media screen and (max-width: 1104px) {
  .footer-section .footer-contents .footer-info .footer-logo {
    margin: 0 auto 15px;
  }
}

.footer-section .footer-contents .footer-info .footer-logo img {
  height: 39px;
  width: 200px;
}

.footer-section .footer-contents .footer-info p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 13px;
}

.footer-section .footer-contents .footer-info p:last-child {
  margin: 0;
}

.footer-section .footer-contents .footer-links {
  padding-top: 10px;
}

@media screen and (max-width: 1104px) {
  .footer-section .footer-contents .footer-links {
    margin-bottom: 30px;
  }
}

.footer-section .footer-contents .footer-links a {
  color: #FFFFFF;
  font-size: 16px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-section .footer-contents .footer-links a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-links a {
    margin-right: 20px;
  }
}

.footer-section .footer-contents .footer-links a:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-contents .footer-links a {
    font-size: 12px;
  }
}

.footer-section .footer-contents .footer-sns {
  padding-top: 8px;
}

.footer-section .footer-contents .footer-sns a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-section .footer-contents .footer-sns a:hover {
  opacity: 0.6;
}

.footer-section .footer-contents .footer-sns a:first-child {
  margin: 0;
}

.footer-section .footer-contents .footer-sns .twitter {
  background-color: #55ACEE;
}

.footer-section .footer-contents .footer-sns .facebook {
  background-color: #3B5998;
}

.footer-section .footer-contents .footer-sns .instagram {
  background-color: #D93177;
}

.footer-section .footer-copyright p {
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-copyright p {
    font-size: 10px;
  }
}

.footer-section .back-to-top {
  position: absolute;
  right: 19px;
  bottom: 14px;
  background-color: #3F51B5;
  height: 60px;
  width: 60px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-section .back-to-top:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .footer-section .back-to-top {
    height: 40px;
    width: 40px;
    right: 10px;
    bottom: 20px;
  }
}

.footer-section .back-to-top a {
  display: inline-block;
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 767px) {
  .footer-section .back-to-top a {
    height: 40px;
    width: 40px;
  }
}

.footer-section .back-to-top i {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 60px;
}

@media screen and (max-width: 767px) {
  .footer-section .back-to-top i {
    line-height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */