@charset "UTF-8";
@import "colors";

/*========= base ===========*/

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 0;
}

a { 
  text-decoration: none;
}

$layout-width-inner: 1086px;

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

$tab-per: 0.8;

$sp-per: 0.35;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*========= header ===========*/
header {
  background-color: $blue;
  position: fixed;
  width: 100%;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: $layout-width-inner;
    margin: 0 auto;
    @include mq('tab') {
      width: 100%;
    }
    @include mq('sp'){
      height: 60px;
    }
    .logo {
      h1 {
        height: 39px;
      }
      img {
        width: 200px;
        height: 39px;
      }
    }

    .nav-bar {
      @include mq('tab') {
        display: none;
      }
      .nav-items {
        display: flex;
        li {
          margin-left: 30px;
        }
        a {
          color: #FFFFFF;
          font-size: 16px;
          &:hover {
            border-bottom: solid 2px $red;
          }
        }
      }
    }

  }

}

/*========= main visual ===========*/
.mainvisual {
  background-image: url(images/mainvisual.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  text-align: center;
  @include mq('sp') {
    height: 400px;
  }
  
  h1 {
    font-size: 68px;
    padding-top: 240px;
    @include mq('tab') {
      font-size: 68px*$tab-per;
    }
    @include mq('sp') {
      font-size: 68px*$sp-per;
      padding-top: 180px;
    }
  }

  h2 {
    font-size: 38px;
    margin-bottom: 82px;
    @include mq('tab') {
      font-size: 38px*$tab-per;
    }
    @include mq('sp') {
      margin-bottom: 82px*$sp-per;
      font-size: 38px*$sp-per;
    }
  }

  a {
    background-color: $blue;
    color: #FFFFFF;
    padding: 17px 81px;
    font-size: 38px;
    font-weight: bold;
    border-radius: 12px;
    @include mq('tab') {
      font-size: 38px*$tab-per;
      padding: 17px*$tab-per 81px*$tab-per;
    }
    @include mq('sp') {
      font-size: 38px*$sp-per;
      padding: 17px*$sp-per 81px*$sp-per;
    }
  }

}

/*========= card ===========*/
.cardSection {
  background-color: $grey;
  padding: 59px 20px 128px 20px;
  .inner {
    width: $layout-width-inner;
    margin: 0 auto;
    @include mq('tab') {
      width: 100%;
    }
    h2 {
      color: $black;
      font-size: 60px;
      text-align: center;
      margin-bottom: 32px;
    }

    hr {
      width: 80px;
      color: $blue;
      size: 5px;
      margin-bottom: 69px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      .card {
        background-color: #FFFFFF;
        width: calc(33.33333333% - 60px / 3);
        margin: 0 30px 20px 0;
        box-sizing: border-box;
        border-radius: 4px;
        &:nth-child(3n){
          margin-right: 0;
        }
        @include mq('tab') {
          width: calc(50% - 30px / 2);
          &:nth-child(3n){
            margin-right: 30px;
          }
          &:nth-child(2n){
            margin-right: 0;
          }
        }
        @include mq('sp') {
          width: 100%;
          margin-right: 0px;
          &:nth-child(3n){
            margin-right: 0px;
          }
          &:nth-child(2n){
            margin-right: 0;
          }
        }
        img {
          width: 100%;
          height: 193px;
          object-fit: cover;
          padding: 16px 16px 26px 16px;
          box-sizing: border-box;
        }
        h3 {
          font-size: 20px;
          color: $dark-grey;
          margin: 0 16px 20px 16px;
        }
        p {
          font-size: 16px;
          color: $dark-grey;
          margin: 0 16px 28px 16px;
        }
      }
    }
  }
}

/*========= news ===========*/
.news {
  padding: 68px 0 29px 0;
  margin: 0 auto;
  width: 845px;
  @include mq('tab') {
    width: 80%;
  }
  @include mq('sp') {
    width: 80%;
  }
  h2 {
    color: $black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 34.5px;
  }
  hr {
    margin-bottom: 90.5px;
  }
  .news-contents {
    margin-bottom: 16px;
    .news-content {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px $black;
      padding: 18.5px 9.5px 16.5px 7.5px;
      &:nth-last-child(2) {
        border-bottom: 0;
        margin-bottom: 16px;
      }
      time {
        font-size: 16px;
        color: $black;
        white-space: nowrap;
        line-height: 30px;
        @include mq('tab') {
          font-size: 16px * $tab-per;
        }
        @include mq('sp') {
          font-size: 16px * $sp-per;
        }
      }
      .label {
        border-radius: 6px;
        margin: 0 30px;
        text-align: center;
        font-weight: bold;
        height: 30px;
        @include mq('tab') {
          margin: 0 30px * $tab-per;
        }
        @include mq('sp') {
          margin: 0 30px * $sp-per;
        }
        a {
          display: inline-block;
          color: #FFFFFF;
          font-size: 16px;
          width: 100px;
          height: 30px;
          line-height: 30px;
          white-space: nowrap;
          @include mq('tab') {
            width: 100px * $tab-per;
            font-size: 16px * $tab-per;
          }
          @include mq('sp') {
            width: 50px;
            font-size: 16px * $sp-per;
          }
        }
      }
      .label1 {
        background-color: #666;
      }
      .label2 {
        background-color: $blue;
      }
      .label3 {
        background-color: $red;
      }
      .news-title {
        width: 576px;
        @include mq('tab') {
          width: 80%;
        }
        @include mq('sp') {
          width: 80%;
        }
        a {
        font-size: 16px;
        color: $black;
        line-height: 30px;
        @include mq('tab') {
          font-size: 16px * $tab-per;
        }
        @include mq('sp') {
          font-size: 16px * $sp-per;
        }
        }
      }
    }
    .more {
      text-align: center;
      a {
        color: $red;
        font-size: 16px;
        font-weight: bold;
        .fas {
          padding-left: 6.5px;
          font-size: 12px;
        }
      }
    }
  }
}