@charset "UTF-8";
/*========= base ===========*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*========= header ===========*/
header {
  background-color: #3F51B5;
  position: fixed;
  width: 100%;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 1086px;
  margin: 0 auto;
}

@media screen and (max-width: 1085px) {
  header .inner {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  header .inner {
    height: 60px;
  }
}

header .inner .logo h1 {
  height: 39px;
}

header .inner .logo img {
  width: 200px;
  height: 39px;
}

@media screen and (max-width: 1085px) {
  header .inner .nav-bar {
    display: none;
  }
}

header .inner .nav-bar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner .nav-bar .nav-items li {
  margin-left: 30px;
}

header .inner .nav-bar .nav-items a {
  color: #FFFFFF;
  font-size: 16px;
}

header .inner .nav-bar .nav-items a:hover {
  border-bottom: solid 2px #E81919;
}

/*========= main visual ===========*/
.mainvisual {
  background-image: url(images/mainvisual.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .mainvisual {
    height: 400px;
  }
}

.mainvisual h1 {
  font-size: 68px;
  padding-top: 249px;
}

@media screen and (max-width: 1085px) {
  .mainvisual h1 {
    font-size: 54.4px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual h1 {
    font-size: 23.8px;
    padding-top: 180px;
  }
}

.mainvisual h2 {
  font-size: 38px;
  margin-bottom: 82px;
}

@media screen and (max-width: 1085px) {
  .mainvisual h2 {
    font-size: 30.4px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual h2 {
    margin-bottom: 28.7px;
    font-size: 13.3px;
  }
}

.mainvisual a {
  background-color: #3F51B5;
  color: #FFFFFF;
  padding: 17px 81px;
  font-size: 38px;
  font-weight: bold;
  border-radius: 12px;
}

@media screen and (max-width: 1085px) {
  .mainvisual a {
    font-size: 30.4px;
    padding: 13.6px 64.8px;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual a {
    font-size: 13.3px;
    padding: 5.95px 28.35px;
  }
}

/*========= card ===========*/
.cardSection {
  background-color: #EFEFEF;
  padding: 68px 20px 128px 20px;
}

.cardSection .inner {
  width: 1086px;
  margin: 0 auto;
}

@media screen and (max-width: 1085px) {
  .cardSection .inner {
    width: 100%;
  }
}

.cardSection .inner h2 {
  color: #333333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 44px;
}

.cardSection .inner hr {
  width: 80px;
  color: #3F51B5;
  size: 5px;
  margin-bottom: 69px;
}

.cardSection .inner .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardSection .inner .cards .card {
  background-color: #FFFFFF;
  width: calc(33.33333333% - 60px / 3);
  margin: 0 30px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.cardSection .inner .cards .card:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1085px) {
  .cardSection .inner .cards .card {
    width: calc(50% - 30px / 2);
  }
  .cardSection .inner .cards .card:nth-child(3n) {
    margin-right: 30px;
  }
  .cardSection .inner .cards .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .cardSection .inner .cards .card {
    width: 100%;
    margin-right: 0px;
  }
  .cardSection .inner .cards .card:nth-child(3n) {
    margin-right: 0px;
  }
  .cardSection .inner .cards .card:nth-child(2n) {
    margin-right: 0;
  }
}

.cardSection .inner .cards .card img {
  width: 100%;
  height: 193px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 16px 16px 26px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardSection .inner .cards .card h3 {
  font-size: 20px;
  color: #6F7579;
  margin: 0 16px 20px 16px;
}

.cardSection .inner .cards .card p {
  font-size: 16px;
  color: #6F7579;
  margin: 0 16px 28px 16px;
}
/*# sourceMappingURL=style.css.map */